@media all and (max-width: 1000px) {
    .contenu {
        flex-direction: column;
    }

    .contenu img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #presentation p {
        margin-left: 0%;
    }

    #equipe {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #equipe article {
        width: 100%;
        margin: 0%;
        margin-bottom: 2%;
    }

    #video {
        width: 75%;
    }
}