@media screen and (max-width: 1000px) {
    footer{
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .gauche1, .droite1 {
        width: 90%;

        border-right: none;
        border-left: none;
    }

    .gauche1, .centre1, .droite1 {
        padding-top: 14px;
        padding-bottom: 14px;
        width: 80%;
    }

    .centre1 {
        text-align: center;

        flex-direction: column;
    }

    .centre1 iframe {
        border-radius: 5px;
        width: 75%;

        margin-left: auto;
        margin-right: auto;
    }

    .centre1 #adresse p {
        padding: 0;
    }

    .centre1 #adresse {
        padding: 10px;
    }

    .gauche1 {
        border-bottom: 3px solid black;
    }

    .droite1 {
        border-top: 3px solid black;
    }
    
}