@media all and (max-width: 1000px) {
    #explication {
        flex-direction: column;
    }

    #explication img {
        width: 100%;
    }

    #realisations {
        flex-direction: column;
    }

    #realisations article {
        width: 100%;
        margin-bottom: 6%;
    }
}