@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

main {
    padding: 40px;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FDCDCD;
}

main p a {
    color: #FDCDCD;
    text-decoration: none;
    font-weight: 800;
}

h1 {
    display: flex;
    font-family: GFS Didot, serif;
    font-weight: 100;
    flex-direction: column;
    align-items: center;
    color: #FDCDCD;

    font-size: 350%;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    border: 2px solid #FDCDCD;
    background: transparent;
    padding: 15px;
    color: #FDCDCD;
}

form input::placeholder, form textarea::placeholder {
    color: #FDCDCD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

#line {
    display: flex;
    justify-content: space-between;
}

#line input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

#line input[type="text"]:last-child {
    margin-right: 0;
}

form input[name="project"] {
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-top: 10px;
    background-color: #FDCDCD;
    border-radius: 5px;
    color: black;
    font-size: 150%;

    padding-left: 80px;
    padding-right: 80px;
}

form input[type="submit"]:hover {
    background-color: #F57474;
    color: black;
}

form #textarea {
    margin-top: 10px;
    height: 400px;
    resize: none;
    text-align: left;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

form #textarea::placeholder {
    font-size: 120%;
}

form #button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


@media all and (max-width: 1000px) {
    form #line {
        flex-direction: column;
    }

    form input {
        margin-bottom: 10px;
    }

    #line input[type="text"] {
        margin-right: 0;
    }

    form input[type="submit"]  {
        display: flex;
        justify-content: center;
        vertical-align: center;

        flex-grow: 1;
        padding: 0;

        padding: 20px;

        margin-left: auto;
        margin-right: auto;
    }
}