footer{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    color : rgb(0, 0, 0);
    background-color: pink;

    border-top: 3px solid black;
}

.gauche1 {
    border-right: 3px solid rgb(17, 16, 16);
    width: 20%;
    padding: 20px;
}

.gauche1 h2 {
    font-family: GFS Didot, serif;
}

.gauche1 ul {
   list-style-type: none;
   padding-inline-start: 0;

   justify-content: center;
   display: flex;
   flex-direction: column;
}

.gauche1 ul li a {
    text-decoration: none;
    color: black;
}

.social i {
    font-size: 32px;
}

.social p a {
    text-decoration: none;
    color: black;
}

.centre1 iframe {
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
}

.centre1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

.centre1 a img {
    width: 100%;
}

.centre1 p {
    height: min-content;
    padding: 20px;
}

.centre1 iframe{
    width: 75%;
    margin-top: 50px;
    border-radius: 20px;
}

.centre1 #adresse {
    text-align: center;
    margin: auto; 
}

.droite1 {
    border-left: 3px solid rgb(17, 16, 16);
    width: 20%;
    padding: 20px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.droite1 img {
    width: 45px;
    height: 45px;
}